// $color-primary-0: #004680; //background-hover, text on white baground
// $color-primary-1: #183f60; //disable
// $color-primary-2: #002d53; //borders, button hover
// $color-primary-3: #307ec0; //background
// $color-primary-4: #5690c0;

$color-primary-0: #C67300; //background-hover, text on white baground
$color-primary-1: #956625; //disable
$color-primary-2: #814B00; //borders, button hover
$color-primary-3: #E39B39; //background
$color-primary-4: #E3AE66;




