$color-main1: #88B04B; //background-hover, text on white baground
$color-main2: #6E844B; //disable
$color-main3: #4F7218; //borders, button hover
$color-main4: #B3D77B; //background
$color-main5: #BDD793;

$color-second1: #9F446F;
$color-second2: #78445C;
$color-second3: #68163D;
$color-second4: #CF76A0;
$color-second5: #CF8EAD;