$color-primary-0: #88B04B; //background-hover, text on white baground
$color-primary-1: #6E844B; //disable
$color-primary-2: #4F7218; //borders, button hover
$color-primary-3: #B3D77B; //background
$color-primary-4: #BDD793;
