<article id="category1" class="row row-cols-1 row-cols-md-2 mt-5">
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/1/1040.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">"Олень", 0,8 м</h5>
          <!-- <p class="card-text">Восхитительная серия декоративной капусты с сильногофрированными яркоокрашенными листьями.</p> -->
        </div>
      </div>
    </div>
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/1/1047.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">"Елка"</h5>
          <!-- <p class="card-text">Гибриды неприхотливы, обильно цветут в любых условиях, ровные одинаковые кустики, сочная зелень и цветки не повреждаются от ветра и сильного дождя.</p> -->
        </div>
      </div>
    </div>
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/1/1800.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">"Олень", 1,3 м</h5>
          <!-- <p class="card-text">Молодые кустики прямостоячие, вырастая, побеги свешиваются и образуют настоящую лавину из крупных пурпурных цветков 7-10см в диаметре.</p> -->
        </div>
      </div>
    </div>
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/1/2271.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">"Снеговик", 120 см</h5>
          <!-- <p class="card-text">Карликовое растение высотой до 15 см с оригинальными метельчатыми соцветиями оранжевой окраски.</p> -->
        </div>
      </div>
    </div>
  </article>