<article id="flowers" class="row row-cols-1 row-cols-md-2 mt-5">
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/flowers/bddb587d412da28a9f58435488041704.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Капуста декоративная Нагойя белая F1</h5>
          <p class="card-text">Восхитительная серия декоративной капусты с сильногофрированными яркоокрашенными листьями.</p>
        </div>
      </div>
    </div>
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/flowers/3db63fbf771936b8654a0a6c84d4c451.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Виола виттрока Карамель морская F1</h5>
          <p class="card-text">Гибриды неприхотливы, обильно цветут в любых условиях, ровные одинаковые кустики, сочная зелень и цветки не повреждаются от ветра и сильного дождя.</p>
        </div>
      </div>
    </div>
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/flowers/69e1658d86a031543832b584587b269d.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Петуния Лавина Пурпурная</h5>
          <p class="card-text">Молодые кустики прямостоячие, вырастая, побеги свешиваются и образуют настоящую лавину из крупных пурпурных цветков 7-10см в диаметре.</p>
        </div>
      </div>
    </div>
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/flowers/e6415fcd4a9557c8e977703078aa57a1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Целозия Кимоно Оранж</h5>
          <p class="card-text">Карликовое растение высотой до 15 см с оригинальными метельчатыми соцветиями оранжевой окраски.</p>
        </div>
      </div>
    </div>
  </article>