<article id="berries" class="row row-cols-1 row-cols-md-2 mt-5">
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/berries/71988ef05f17b9aecb7c2db5f4e04e6b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Земляника Холидей</h5>
          <p class="card-text">Ремонтантная земляника. Ягоды желтого цвета, среднего размера, яйцевидной формы, очень ароматные, сладкие, великолепного вкуса.</p>
        </div>
      </div>
    </div>
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/berries/bb32141609e7ac51124c7f92a0063417.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Клубника Фреска</h5>
          <p class="card-text">Новый ремонтантный, крупноплодный гибрид клубники. Ягоды плотные, сочные, ярко-красного цвета. </p>
        </div>
      </div>
    </div>
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/berries/c2349dc129ad45a42bed6909f7da62dc.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Земляника Желтое Чудо</h5>
          <p class="card-text">Ремонтантный сорт с оригинальной окраской плодов. Ягоды вкусные, очень сладкие и ароматные, массой 4 – 6 г.</p>
        </div>
      </div>
    </div>
    <div class="col col-md-3 mb-4">
      <div class="card">
        <img src="/images/berries/b395509d5ad122493457ae1dd6c815fa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Шпинат земляничный</h5>
          <p class="card-text">Растение, завоевавшее заслуженную популярность у огородников за последние годы своей декоративностью и привлекательностью!</p>
        </div>
      </div>
    </div>
  </article>