<!-- start: CATEGORY ITEM -->
<article id="category8" class="row row-cols-1 row-cols-md-2 mt-5">
  <!-- start: PRODUCT ITEM -->
  <div class="col col-md-3 mb-4">
    <div class="card">
      <img src="/images/3/937.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">круглый LED-Round-2W</h5>
        <p class="card-text">Ремонтантная земляника. Ягоды желтого цвета, среднего размера, яйцевидной формы, очень ароматные, сладкие, великолепного вкуса.</p>
      </div>
    </div>
  </div>
  <!-- end: PRODUCT ITEM -->
</article>
<!-- end: CATEGORY ITEM -->