<header>
    <!-- Fixed navbar -->
    <nav class="navbar fixed-top bg-primary p-0">
        <div class="container">
            <a class="navbar-brand text-white" href="#"><i class="far fa-lightbulb"></i> PolSemena</a>
        <form class="form-inline mt-2 mt-md-0 mb-0 flex-grow-1 justify-content-end">
            <div class="input-group search">
                <input type="text" class="form-control" placeholder="Поиск" aria-label="Recipient's username"
                    aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary text-white" type="button" id="button-addon2">
                        <i class="fas fa-search"></i></button>
                </div>
            </div>
        </form>
        <ul class="navbar-nav flex-row justify-content-between justify-content-lg-end flex-grow-1">                       
            <li class="nav-item" title="почта в разработке">
                <a class="nav-link disabled d-flex px-4 py-3" href="#" tabindex="-1" aria-disabled="true" disabled><i class="fas fa-envelope-square fa-lg"></i><span class="d-none d-md-block pl-1">Написать</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white d-flex px-4 py-3" href="#map"><i class="fas fa-map-marked-alt fa-lg"></i><span class="d-none d-md-block pl-1">Карта проезда</span></a>
            </li> 
            <li class="nav-item">
                <a class="nav-link text-white d-flex px-4 py-3" href="tel:+375445194064"><i class="fas fa-phone-square fa-lg"></i><span class="d-none d-md-block pl-1">+375(44)519-40-64</span></a>
            </li>
        </ul>
        </div>
    </nav>
</header>