<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="GarikGelios">
  <meta name="generator" content="Visual Studio Code v1.41.1">
  <title><%= title %></title>

  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- Favicons -->
  <!-- <link rel="apple-touch-icon" href="/docs/4.4/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.4/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.4/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.4/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.4/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c"> -->
</head>

<body class="d-flex flex-column h-100" data-spy="scroll" data-target="#scrollspy" data-offset="0">
  <% include header.ejs %>

  <!-- Begin page content -->
  <main role="main" class="flex-shrink-0">
    <% include jumbotron.ejs %>
    <% include scrollspy.ejs %>
    <section class="container">
      <% include card-groups-flowers.ejs %>
      <% include card-groups-vegetables.ejs %>
      <% include card-groups-berries.ejs %>
    </section> 
    <section id="map" class="my-5">
      <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa5adfe42a8e323548fcfc63a14499b5b5164ae3d68c9ccbfa28852cc237c1838&amp;width=100%25&amp;height=300&amp;lang=ru_RU&amp;scroll=true"></script>
    </section>      
  </main>
  <% include footer.ejs %>
 
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/libs/@fortawesome/fontawesome-free/js/all.min.js"></script>

</body>

</html>