<section class="first jumbotron jumbotron-fluid mt-5 mb-0">
    <div class="container">
        <h1 class="display-4">Семена растений</h1>
        <p class="lead">Прекрасные сады и богатый урожай вместе с <b>PolSemena.by</b></p>
        <hr class="my-4">
        <p>Заказывайте только качественный посадочный материал от лучших производителей Европы</p>
        <a class="btn btn-green2 btn-lg" href="#" role="button">Узнать больше</a>
    </div>
</section>