<section class="first jumbotron jumbotron-fluid mt-5 mb-0">
    <div class="container">
        <h1 class="">Светодиодная иллюминация</h1>
        <p class="lead">Новогодние украшения, игрушки и сопутствующие товары и аксессуары <b>PolSemena.by</b></p>
        <hr class="my-4">
        <p>Под вашу задачу мы можем предложить готовые решения или разработать индивидуальный проект с учетом ваших пожеланий.</p>
        <a class="btn btn-green2 btn-lg" href="#" role="button">Узнать больше</a>
    </div>
</section>