<section class="jumbotron jumbotron-fluid mt-5 mb-0 bg-image2">
    <div class="container">
        <h1 class="mt-5">Светодиодная иллюминация</h1>
        <p class="lead">Уличное светодиодное украшение на Новый Год <b>PolSemena.by</b> – украсит улицу, парк или городскую площадь! Тем более, не нужно забывать, что такие изделия являются отличным фоном для создания совместных фотографий.</p>
        <hr class="my-4">
        <p>Под вашу задачу мы можем предложить готовые решения или разработать индивидуальный проект с учетом ваших пожеланий.</p>
        <a class="btn text-white btn-primary btn-lg" href="#" role="button">Узнать больше</a>
    </div>
</section>