<nav id="scrollspy" class="navbar navbar-expand-lg navbar-light bg-light p-0 position-sticky">
    <div class="container">
        <button class="navbar-toggler py-2 border-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> Ассортимент
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-pills mr-auto justify-content-between w-100">
                <li class="nav-item">
                    <a class="nav-link px-4 py-2" href="#category1">Акриловые фигуры</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 py-2" href="#category2">Светодиодные деревья</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 py-2" href="#category3">Дюралайт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 py-2 disabled" href="#category4">Клип лайт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 py-2 disabled" href="#category5">Гирлянда бахрома</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 py-2 disabled" href="#category6">Световой занавес</a>
                </li>

            </ul>
        </div>
    </div>
</nav>