<h2 class="display-4 text-center my-5"><i class="far fa-lightbulb"></i> <%= company %></h2>
<p class="lead">Уличные украшения на новогодние праздники неотъемлемая часть всего подготовительного процесса. Создайте сказочную атмосферу праздника и волшебства для всех людей. Доставьте радость всем — будь то маленькие дети или взрослые!</p>
<ul class="lead">
    <li>собственное производство, общей площадью около 50 тысяч метров!</li>
    <li>поддерживаем склад круглый год по 10 000 наименованиям продукции!</li>
    <li>масштабный и информативный шоу-рум в Москве! Просто приезжайте к нам и Вы все увидите собственными глазами!</li>
    <li>полностью гарантирующая четкую и быструю работу по гарантии.</li>
    <li>идиально соотношение цена-качество.</li>
    <li>следим за модой и тенденциями на рынке декоративной светотехники.</li>
    <li>удовлетворим потребности самых взыскательных клиентов, будь то частный заказчик или крупная государственная структура.</li>
</ul>
<h3 class="py-4">Акриловые фигуры</h3>
<p>На основе сверхъярких светодиодов являются новинкой на рынке декоративной светотехники. Акриловые фигуры появились сравнительно недавно, но уже снискали большой интерес со стороны дизайнеров и просто частных клиентов. Эти яркие светящиеся объемные 3D фигуры из акрила и светодиодов повышенной яркости применяются для декорации кафе и ресторанов, магазинов и торговых центров, а также частных домов. Акриловые фигуры состоят из металлического каркаса, светодиодов и прозрачного акрила, который предает прочность, морозостойкость и вандалостойкость всей конструкции.
<h3 class="py-4">Светодиодные деревья</h3>
<p>Яркие и необычные украшения, прекрасно дополняющее общее освещение. Они отлично подходят для праздничного украшения территории и сощдают праздничную атмосферу у ваших гостей. Этот весьма удачный декор подойдет не только для украшения территории ресторана, кафе, торгового комплекса, но и для создания сказочной атмосферы в вашем доме, даче или придомовом участке.</p>
<h3 class="py-4">Дюралайт</h3>
<p>Сплошная трубка из прозрачного пластика, в который помещена светодиодная нить из миниатюрных LED светодиодов. Сфера применение дюролайта практически не ограничена: украшение исторических и архитектурных памятников, декоративная подсветка фасадов, праздничная подсветка фасадов зданий и прочее. Краткость резки от 1м, большой выбор цветов свечения круглого и плоского профессионально дюралайта.</p>

  