.input-group {
  &.search {
    transition: width 1s;
    width: 250px;
    @include media-breakpoint-down(xs) {
      width: 150px;
    }
    &:hover {
      width: 100%;
    }
  }
}

  .navbar-nav {
    .nav-item {
      &:hover {
        background-color: $color-primary-0 !important;
      }
    }
    .nav-link {
      &.disabled {
        color: #e4e4e4 !important;
      }
    }
  }

.bg-primary {
  background-color: $color-primary-3 !important;
}
