.navbar-brand {
  padding-top: 0;
}
.input-group {
  &.search {
    transition: width 1s;
    width: 250px;
    @include media-breakpoint-down(xs) {
      width: 150px;
    }
    &:hover {
      width: 100%;
    }
  }
}

.navbar-green {
  .navbar-brand {
    color: #fff;
  }
  .navbar-nav {
    flex-basis: 540px;
    .nav-item {
      &:hover {
        background-color: $color-primary-0 !important;
      }
    }
    .nav-link {
      color: #fff;
      &.disabled {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
.bg-green {
  background-color: $color-primary-3 !important;
}
.btn-outline-green {
  color: $color-primary-2;
  border-color: $color-primary-2;
}
