#scrollspy {
    z-index: 10;
    top: 56px;
    @include media-breakpoint-down(md) { top: 110px; }
}
.nav-pills {
  .nav-item {
    .nav-link {
      color: $color-primary-2;
      border-radius: 0;
      &:hover {
        color: #fff;
        background-color: #bdd793;
        border-color: #bdd793;
      }
      &.active {
        color: #fff;
        background-color: $color-primary-0;
        border-color: $color-primary-0;
      }
    }
  }
}
