#scrollspy {
    z-index: 10;
    top: 56px;
    @include media-breakpoint-down(md) { top: 100px; }
}

  .nav-item {
    .nav-link {
      color: $color-primary-2;
      &:hover {
        color: #fff !important;
        background-color: $color-primary-4;
        border-color: $color-primary-4;
      }
      &.active {
        color: #fff !important;
        background-color: $color-primary-4;
        border-color: $color-primary-4;
      }
    }
  }

